*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #D1F3FF;
}

.titre img{
    width: 70px;
}

.titre h1{
    color:#342D6F;
    font-weight: bold;
}

.titre{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.etapes img{
    width:20px;
}

.etapes{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 40px;
    margin:1rem 5rem;
}

.etapes div{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color:#1DD6EE;
}

.etapes p{
    margin:5px;
    width: 105px;
}

.Informations input{
    border-radius: 5px;
    border:1px solid #9D9999;
    padding: 5px;
}

.Informations{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 0 50px;
}

#section{
    background-color: white;
    padding:10px;
    margin:2rem 5rem;
    border: 1px solid #9D9999;
    border-radius: 20px;
}

#section p{
    padding: 5px 20px;
    font-size: large;
}

.button{
    display: flex;
    justify-content: end;
    margin: 20px;
}
#suivant{
    color:white;
    font-weight: bold;
    margin-right:10px;
}


.choix-trajet{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    margin: 0 50px;
}

.choix-trajet input,select{
    border-radius: 5px;
    border:1px solid #9D9999;
    padding: 5px;
}

.choix-trajet div{
    display:flex;
    flex-direction: column;
}

.choix-trajet label{
    color:#82818F;
}

.result{
    display:flex;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    border-radius: 20px;
}

.container{
    display: flex;
    justify-content: space-around;
}

#places{
    padding:50px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    column-gap:28%;
    justify-content: center;
    row-gap: 20px;

}

.check{
    border:1px solid black;
    padding:5px 15px;

    


}



